.document-tab li a{padding: 0px!important;}
.document-tab li a>span{padding: 15px; display: block;}
.progress-step .style-blue::before{left: 82px!important;}
.left-59 {left: 59px !important;}
.cal-icon { position: absolute!important; right: 5px!important; top: 14%!important;background: transparent;
    border: none;}

    .blueBg{display: none; }
.is-complete .blueBg{display: flex; background: #031C49; position: absolute; align-items: center;}